<div class='w-100 d-flex flex-column justify-content-center align-items-center'>
  <h3 class="h3 text-danger">About application:</h3>
  <p class='lead h4'>This application created as education project by Igor Slepenkov.</p>
  <p class='lead h4'>Technologies used:</p>
  <ul class='w-50 list-group'>
    <li class='list-group-item'>Ruby on Rails</li>
    <li class='list-group-item'>Devise + Devise invitable</li>
    <li class='list-group-item'>Carrierwave + Fog/Google</li>
    <li class='list-group-item'>Payment: Stripe</li>
    <li class='list-group-item'>Database: Postgresql</li>
    <li class='list-group-item'>Styling: Bootstrap + custom</li>
  </ul>
</div>
