<div class="w-100 d-flex flex-column align-items-center">
  <h2 class="h2 mt-5">Welcome to Dashboard</h3>
  <div class="d-flex justify-content-between">
    <%= link_to "Invite new user", new_user_invitation_path, class: "btn btn-light" %>
  </div>
</div>
