<div class="alert alert-info alert-dismissible fade show" role="alert">
  <p class="lead">You have been redirected because you didn't use you own application domain</p>
  <p>Now, when you are on your working subdomain you may login and continue to use it</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
